wallet.dat
*.dat
blk*.dat
coino-data/
*.log
debug.log
*.o
*.a
*.so
*.P
build/
build-qt5/build/
obj/
Makefile
.qmake.stash
*.bak
*.bak-*
*.original
.DS_Store
._*
.vscode/
.idea/
*.swp
Coino-qt
CoinoCore-V3
Coinod
*.tar.gz
*.zip
